
ul, li, ol {
  list-style: none;
}

/*通用class类*/
.f-w{
  font-weight: bold;
}
/* 图片自适应 */
img.img-auto {
  width: 100%;
  height: auto;
  width: auto \9; /* ie8 */
  -ms-interpolation-mode: bicubic; /*为了照顾ie图片缩放失真*/
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/*  清除浮动方法一*/
/*.clear{*/
/*  clear: both;*/
/*}*/
/*  清除浮动方法二*/
.clearfix:after {
  visibility: hidden;
  display: block;
  /*font-size: 0;*/
  content: " ";
  clear: both;
  /*height: 0;*/
}

.clearfix {
  zoom: 1;
}

.pointer {
  cursor: pointer;
}
.hide{
  display: none;
}

.show{
  display: block;
}
.align-c{
  text-align: center;
}
.align-r{
  text-align: right;
}
/*单行溢出省略*/
.text-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.two-text-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

